!!!
%haml
  %head
    %title Ciber Mangekamp

  %body
    %h1 Users
    = link_to 'Tilbake', root_path
    %br
    = link_to 'Add user', new_user_path

    %ul
      - @users.each do | user |
        %li
          = user.name
          = link_to 'Edit', edit_user_path(user)
